.header{
    background-color: #00A884;
    /* text-align: center; */
    color: whitesmoke;
    font-size: 1.5rem;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}
.header>.content{
    display: inline-block;
    vertical-align: middle;
    margin: 12px;
}